<!--  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			-->
			

	<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
     <!--<bean name="pointA" class="com.jobiak.auto.Point" scope="singleton">--> 
     <bean name="a" class="com.jobiak.auto.Point" scope="singleton">
      <property name="x" value="25.5"></property>
      <property name="y" value="35.5"></property>
      
      </bean>
       <!-- <bean name="pointB" class="com.jobiak.auto.Point"> -->
       <bean name="b" class="com.jobiak.auto.Point">
      <property name="x" value="75.5"></property>
     
      <property name="y" value="85.5"></property>
       </bean>
      <!--   <bean name="line" class="com.jobiak.auto.Line" autowire="byName">-->
       <bean name="line" class="com.jobiak.auto.Line" autowire="constructor">
   </bean>
  
           
        <!--    <bean name="line" class="com.jobiak.auto.Line">
         
         <property name="a" ref="pointA"></property>
         <property name="b" ref="pointB"></property>
         </bean>  
           
      -->       
           
           
           
           
	<bean name="garden" class="com.jobiak.ioc.Garden">
	<property name="fruits">
	<list>
	<value>mango</value>
	<value>kiwi</value>
	<value>water melon</value>
	<value>musk melon</value>
	<value>orange</value>
	
	
	
	</list>
	
	
	</property>
	<property name="trees">
	<set>
	<value>Baniyan tree</value>
	<value>The oak tree</value>
	<value>The Lebanon tree</value>
	<value>The neem tree</value>
	<value>The people tree</value>
	
	
	</set>
	
	
	</property>
	<property name="cityFruit">
	<map>
	<entry key="Hyderabad" value="Custardapple"></entry>
	<entry key="banginapally" value="mangoes"></entry>
	<entry key="Narayanpur" value="grapes"></entry>
	<entry key="muskmelon" value="anantapur"></entry>
	</map>
	
	
	
	</property>
	
	<constructor-arg name="flowers">
	<list>
	<value>Jasmine</value>
	<value>Rose</value>
	<value>Lilly</value>
	<value>Cosmos</value>
	
	</list>
	
	
	</constructor-arg>
	
	</bean>		
			
			
			

			
</beans>
			